<<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Glassdoor</title>
</head>
<body>
    <center>
    <h1>DashBoard for Glassdoor Jobs</h1>

    <iframe src="https://us1.ca.analytics.ibm.com/bi/?perspective=dashboard&amp;pathRef=.my_folders%2FJOBS%2FJOB_DashBoard&amp;closeWindowOnLastView=true&amp;ui_appbar=false&amp;ui_navbar=false&amp;shareMode=embedded&amp;action=view&amp;mode=dashboard&amp;subView=model000001881dca53d0_00000002" width="1350" height="900" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen=""></iframe>
    </center>
</body>
</html>